{% extends 'core/base.html' %}

{% load static %}

{% block title %} {{ title_home_page_view|default:"ОПОРА" }} {% endblock %}

{% block content %}


<section class="bg-white py-8 antialiased md:py-0">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">

        <div class="gap-8 lg:flex">

            <!-- ФОРМА -->
            <form method="post" action="" class="w-full space-y-6 lg:space-y-8">

                {% csrf_token %}

                <!-- ========== STICKY HEADER (ШАГИ + АВАТАРЫ) ========== -->
                <div class="sticky top-0 z-30 bg-white border-b pb-3">

                    <!-- ШАГИ / ЭТАПЫ -->
                    <div class="space-y-6 sm:space-y-8 pb-3">
                        <ol class="flex flex-col gap-4 rounded-lg border border-gray-200 bg-indigo-100 p-2
                        sm:justify-center md:flex-row md:items-center lg:gap-6">

                            <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none">
                                <svg class="h-8 w-8 text-indigo-700" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2.5" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                <p class="text-base font-medium leading-tight text-indigo-700">
                                    <strong>Общие вопросы</strong>
                                </p>
                            </li>

                            <div class="hidden h-1 w-8 shrink-0 rounded-full bg-gray-300 md:block xl:w-16"></div>

                            <a href="{% url 'core:personal-questions' %}" class="flex mr-4">
                                <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none">
                                    <svg class="h-8 w-8 text-gray-500" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                         viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="1.5" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                    </svg>
                                    <p class="text-base font-medium leading-tight text-gray-500">
                                        Личные вопросы
                                    </p>
                                </li>
                            </a>

                            <div class="hidden h-1 w-8 shrink-0 rounded-full bg-gray-300 md:block xl:w-16"></div>

                            <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none">
                                <svg class="h-8 w-8 text-gray-500" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="1.5" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                <p class="text-base font-medium leading-tight text-gray-500">
                                    Выбор психолога
                                </p>
                            </li>

                            <div class="hidden h-1 w-8 shrink-0 rounded-full bg-gray-300 md:block xl:w-16"></div>

                            <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none">
                                <svg class="h-8 w-8 text-gray-500" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="1.5" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                <p class="text-base font-medium leading-tight text-gray-500">
                                    Запись и оплата
                                </p>
                            </li>

                        </ol>
                    </div>

                    <!-- Аватары -->
                    <div class="flex justify-end min-h-[50px] w-full overflow-x-scroll rounded-lg lg:overflow-visible">
                        {% include 'core/client_pages/specialist_matching/home_avatar_group.html' %}
                    </div>

                </div>

                <!-- ========== Блок 1 ========== -->
                <div class="grid grid-cols-1 md:grid-cols-12 gap-16 pb-7">
                    <!-- Левая колонка -->
                    <div class="md:col-span-3">
                        <h2 class="text-xl font-semibold text-gray-900">Общие вопросы</h2>
                    </div>

                    <!-- Правая колонка -->
                    <div class="md:col-span-9 space-y-6 pt-1">

                        <!-- Имя -->
                        <div>
                            {{ form.first_name }}
                            <label class="block mb-2 mt-1 text-sm font-medium text-gray-400">
                                Имя или псевдоним будет доступен психологу
                            </label>
                        </div>

                        <!-- Email -->
                        <div>
                            {{ form.email }}
                            <label class="block mb-2 mt-1 text-sm font-medium text-gray-400">
                                Для важных уведомлений от психолога и сервиса
                            </label>
                        </div>

                        <!-- Возраст -->
                        <div>
                            {{ form.age }}
                            <label class="block mb-2 mt-1 text-sm font-medium text-gray-400">
                                Ваш возраст
                            </label>

                            {% if form.age.errors %}
                            <p class="mt-1 text-sm text-red-600">
                                {{ form.age.errors.0 }}
                            </p>
                            {% endif %}

                        </div>

                    </div>
                </div>

                <!-- ========== Блок 2 ========== -->
                <div class="grid grid-cols-1 md:grid-cols-12 gap-16 pb-7">
                    <!-- Левая колонка -->
                    <div class="md:col-span-3">
                        <h2 class="text-xl font-semibold text-gray-900">Был ли у вас опыт терапии?</h2>
                    </div>

                    <!-- Правая колонка -->
                    <div class="md:col-span-9 pt-1">
                        <label class="inline-flex items-center cursor-pointer">
                            {{ form.therapy_experience }}
                            <div class="relative w-11 h-6 bg-gray-300 rounded-full peer peer-checked:bg-indigo-700
                                    transition-all after:absolute after:h-5 after:w-5 after:bg-white after:rounded-full
                                    after:top-0.5 after:left-0.5 after:transition-all peer-checked:after:translate-x-5">
                            </div>
                            <span class="ml-3 text-base text-gray-700">Да, у меня был опыт</span>
                        </label>
                    </div>
                </div>

                <!-- ========== Блок 3 ========== -->
                <div class="grid grid-cols-1 md:grid-cols-12 gap-16 pb-7">
                    <!-- Левая колонка -->
                    <div class="md:col-span-3">
                        <h2 class="text-xl font-semibold text-gray-900">Часовой пояс</h2>
                    </div>

                    <!-- Правая колонка -->
                    <div class="md:col-span-9 pt-1">
                        {{ form.timezone }}
                        <label class="block mb-2 mt-1 text-sm font-medium text-gray-400">
                            Для корректного отображения расписания сессий
                        </label>
                    </div>
                </div>

                <!-- ========== Блок 4 ========== -->
                <div class="grid grid-cols-1 md:grid-cols-12 gap-16 pb-7">
                    <!-- Левая колонка -->
                    <div class="md:col-span-3">
                        <h2 class="text-xl font-semibold text-gray-900">Получать информацию о сессиях, полезные материалы и персональные предложения</h2>
                    </div>

                    <!-- Правая колонка -->
                    <div class="md:col-span-9 pt-1">
                        <label class="inline-flex items-center cursor-pointer">

                            <div class="relative w-11 h-6 bg-gray-300 rounded-full peer peer-checked:bg-indigo-700
                                    transition-all after:absolute after:h-5 after:w-5 after:bg-white after:rounded-full
                                    after:top-0.5 after:left-0.5 after:transition-all peer-checked:after:translate-x-5">
                            </div>
                            <span class="ml-3 text-base text-gray-700">Да, хочу получать</span>
                        </label>
                    </div>
                </div>

                <!-- Кнопка -->
                <div class="pt-6 pb-24 flex justify-center gap-5">
                    <a href="{% url 'core:start-page' %}"
                       class="inline-flex items-center justify-center px-6 py-3 rounded-xl bg-gray-100 text-xl text-gray-300 font-extrabold tracking-wide
                       hover:bg-gray-200 transition">
                        Назад
                    </a>
                    <button
                            type="submit"
                            class="px-10 py-3.5 rounded-xl bg-indigo-700 text-xl text-white font-extrabold tracking-wide
                            hover:bg-indigo-900 transition shadow">
                        Далее
                    </button>
                </div>

            </form>

        </div>

    </div>
</section>


<script type="module" src="{% static 'js/pages/personal_questions.js' %}"></script>


{% endblock %}