/* ===== СТИЛЬ ДЛЯ СВОРАЧИВАНИЯ БИОГРАФИИ ПСИХОЛОГА В КАРТОЧКЕ ПСИХОЛОГА ===== */
.biography-text[data-collapsed="true"] {
    max-height: 7.5em; /* ~5 строк */
}

.biography-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5em;
    background: linear-gradient(
        to bottom,
        rgba(240,245,255,0),
        rgba(240,245,255,1)
    );
}


/* ===== СВОРАЧИВАНИЕ СПИСКА ОБРАЗОВАНИЯ ===== */
.education-list[data-collapsed="true"] li:nth-child(n + 3) {
    display: none;
}


/* ===== СТИЛЬ ДЛЯ УМЕНЬШЕНОГО ТЕКСТА ПОД ФОТО ПСИХОЛОГА ПРИ СКРОЛЛЕ ВНИЗ КАРТОЧКИ ПСИХОЛОГА ===== */
.ps-header-clone {
    font-size: 0.875rem; /* ≈ text-sm */
}

.ps-header-clone h2 {
    font-size: 1.5rem; /* вместо text-3xl → примерно text-2xl */
}

.ps-header-clone .text-lg {
    font-size: 1rem;
}

.ps-header-clone .text-xl {
    font-size: 1.125rem;
}


/* ===== СТИЛЬ ДЛЯ ЭЛЕМЕНТОВ ПОД ФОТО ПСИХОЛОГА ЧТОБ ОНИ БЫЛИ ПО ЦЕНТРУ ПОД ФОТО ===== */
.ps-header-clone {
    text-align: center;
}


/* ===== АНИМАЦИЯ ДЛЯ БЕЙДЖА СО СЧЕТЧИКОМ ВЫБРАННЫХ СЛОТОВ ===== */

/* Часть 1: анимация появления */
@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2); /* Легкий "отскок" для живости */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ts-badge-animate {
  animation: pop-in 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}


/* Часть 2: анимация исчезновения */
@keyframes pop-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.ts-badge-out {
  animation: pop-out 0.2s ease-in forwards;
}
