/* ===== СТИЛЬ ДЛЯ СВОРАЧИВАНИЯ БИОГРАФИИ ПСИХОЛОГА В КАРТОЧКЕ ПСИХОЛОГА ===== */

.biography-text[data-collapsed="true"] {
    max-height: 7.5em; /* ~5 строк */
}

.biography-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5em;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,1)
    );
}
