{% load static %}

<!DOCTYPE html>
<html lang="ru" class="h-full">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Психологи онлайн на Опора{% endblock %}</title>

    <!-- Tailwind (скомпилированный) -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Далее важно после tailwind подключить собственные КАСТОМНЫЕ СТИЛИ -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!-- Flowbite + Tailwind JS -->
    <script src="{% static 'js/main.js' %}" defer></script>
    <!-- Flowbite JS -->
    <!-- Нужен ли flowbite.min.js в проекте прямо сейчас?-->
    <!-- CDN достаточно. Позже мы добавим его в /static/js/flowbite.min.js.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js" defer></script>
    <!-- HTMX (через CDN — нормальная практика) -->
    <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">


    <style>
        /* Chrome, Safari, Edge */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

</head>


<body class="min-h-full flex flex-col">

<!-- Подключение extra_style чтоб можно было применять фон на разных страницах именно через <body>, а не на секцию
Это дает лучший результат, если страница длиннее экрана. -->
{% block extra_style %}{% endblock %}


<!-- Подключение подшаблонов с ЛОГО + МЕНЮ + БОКОВАЯ НАВИГАЦИЯ -->
{% include 'core/menu/menu.html' %}


<!-- Подключение основного контента страницы -->
<main class="flex-1">
    {% block content %}
    {% endblock %}
</main>


<!-- Футер -->
{% if menu_variant == "login" %}
<footer></footer>
{% elif menu_variant == "register" %}
<footer></footer>
{% else %}
<footer class="bg-gray-100 py-6">
    <div class="mx-auto max-w-7xl px-4 text-center text-gray-500 text-sm">
        © ОПОРА. Все права защищены.
    </div>
</footer>
{% endif %}


</body>


</html>
