{% extends 'core/base.html' %}

{% load static %}

{% block title %} {{ title_register_page_view|default:"Регистрация" }} {% endblock %}

{% block content %}


<section class="bg-tranceparent min-h-screen flex flex-col md:flex-row">


    <!-- ========== ЛЕВАЯ ЧАСТЬ ========== -->

    <div class="w-full md:w-1/2 flex flex-col p-4 sm:p-12 md:p-4 bg-indigo-700 md:order-1 order-2">

        <!-- ========== ЛОГО (ЛЕВАЯ КОЛОНКА) ========== -->
        <div class="w-full max-w-md hidden md:flex items-center justify-between pb-1 mx-auto">
            <a href="{% url 'core:start-page' %}" class="flex mr-4">
                <img src="{% static 'images/logo/opora-logo-white.svg' %}" class="w-12 h-auto mr-0" alt="Logo_icon"/>
                <span class="text-5xl font-extrabold tracking-tight text-white sm:text-5xl">ОПОРА</span>
            </a>
        </div>

        <!-- ========== Иллюстрация ========== -->
        <div class="flex-1 flex items-center justify-center">
            <img src="{% static 'images/register_page/authentication-form.svg' %}"
                 alt="Регистрация"
                 class="w-1/2 h-auto">
        </div>
    </div>


    <!-- ========== ПРАВАЯ ЧАСТЬ ДЛЯ РЕГИСТРАЦИИИ ========== -->

    <div class="w-full md:w-1/2 flex flex-col items-center p-4 sm:p-12 md:p-4 md:order-2 order-1">

        <!-- ========== КНОПКА НАЗАД (ПРАВАЯ КОЛОНКА) ========== -->
        <div class="w-full pb-1">
            <div class="w-full max-w-md mx-auto flex items-center justify-between md:hidden">
                <a href="{% url 'core:start-page' %}" class="flex mr-4">
                    <img src="{% static 'images/logo/opora-logo.svg' %}" class="w-12 h-auto mr-0" alt="Logo_icon"/>
                    <span class="text-5xl font-extrabold tracking-tight text-indigo-700 sm:text-5xl">ОПОРА</span>
                </a>
                <a href="{% url 'core:start-page' %}"
                   class="flex items-center gap-1 text-indigo-700 hover:bg-gray-100 focus:ring-4 focus:ring-indigo-300
                   font-medium rounded-lg text-base px-4 py-2 focus:outline-none">
                    <img src="{% static 'images/menu/back-icon.svg' %}" class="hover:text-white" alt="Back_icon"/>
                    <span>Назад</span>
                </a>
            </div>
            <div class="w-full hidden md:flex">
                <div class="w-full max-w-md mx-auto flex justify-end">
                    <a href="{% url 'core:start-page' %}"
                       class="flex items-center gap-1 text-indigo-700 hover:bg-gray-100 focus:ring-4 focus:ring-indigo-300
                       font-medium rounded-lg text-base px-4 md:px-5 py-2 md:py-3
                       focus:outline-none">
                        <img src="{% static 'images/menu/back-icon.svg' %}" class="hover:text-white" alt="Back_icon"/>
                        <span>Назад</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- ========== РЕГИСТРАЦИЯ ========== -->
        <div class="w-full flex-1 flex items-center py-8 md:py-0">
            <div class="w-full max-w-md mx-auto">
                <h1 class="text-2xl text-center font-extrabold leading-tight tracking-wide text-zinc-400 md:text-4xl">
                    Регистрация
                </h1>
                <p class="text-sm text-center text-zinc-300 pt-2 mb-6 md:mb-12">
                    Для тех, у кого ещё нет аккаунта
                </p>

                <!-- УВЕДОМЛЕНИЯ -->
                {% if messages %}
                <div class="space-y-2">
                    {% for message in messages %}
                    <div class="p-3 text-sm text-gray-700 bg-gray-50 rounded-md">
                        {{ message|linebreaksbr }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- ОБЩИЕ ОШИБКИ -->
                {% if form.non_field_errors %}
                <div class="p-3 text-center text-base tracking-wide text-pink-700 bg-pink-50 rounded-lg">
                    {% for err in form.non_field_errors %}
                    {{ err }}{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <!-- ФОРМА ДЛЯ РЕГИСТРАЦИИ -->
                <form class="space-y-4 md:space-y-6" method="post">
                    {% csrf_token %}

                    <!-- Email -->
                    <div>
                        <label for="{{ form.email.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900">
                            {{ form.email.label }}
                        </label>
                        {{ form.email }}

                        {% if form.email.errors %}
                        <p class="mt-2 text-sm text-red-600">
                            {{ form.email.errors.0 }}
                        </p>
                        {% endif %}
                    </div>

                    <!-- First name -->
                    <div>
                        <label for="{{ form.first_name.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900">
                            {{ form.first_name.label }}
                        </label>
                        {{ form.first_name }}

                        {% if form.first_name.errors %}
                        <p class="mt-2 text-sm text-red-600">
                            {{ form.first_name.errors.0 }}
                        </p>
                        {% endif %}
                    </div>

                    <!-- Age -->
                    <div>
                        <label for="{{ form.age.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900">
                            {{ form.age.label }}
                        </label>
                        {{ form.age }}

                        {% if form.age.errors %}
                        <p class="mt-2 text-sm text-red-600">
                            {{ form.age.errors.0 }}
                        </p>
                        {% endif %}
                    </div>

                    <!-- Password -->
                    <div>
                        <label for="{{ form.password1.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900">
                            {{ form.password1.label }}
                        </label>
                        {{ form.password1 }}

                        {% if form.password1.errors %}
                        <p class="mt-2 text-sm text-red-600">
                            {{ form.password1.errors.0 }}
                        </p>
                        {% endif %}
                    </div>

                    <div class="pb-12">
                        <label for="{{ form.password2.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900">
                            {{ form.password2.label }}
                        </label>
                        {{ form.password2 }}

                        {% if form.password2.errors %}
                        <p class="mt-2 text-sm text-red-600">
                            {{ form.password2.errors.0 }}
                        </p>
                        {% endif %}
                    </div>

                    <!-- Confirm register  -->

                    <button type="submit"
                            class="inline-flex items-center justify-center w-full px-6 py-3
                            border border-transparent text-base font-medium rounded-xl text-white bg-indigo-600 hover:bg-indigo-700
                            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
                            transition-all duration-200 shadow-md hover:shadow-lg">
                        Зарегистрироваться
                    </button>

                    <p class="text-sm font-light text-gray-500 pb-12">
                        Есть аккаунт?
                        <a href="{% url 'users:web:login-page' %}"
                           class="font-medium text-indigo-700 hover:underline">
                            Войти в аккаунт
                        </a>
                    </p>

                </form>
            </div>
        </div>
    </div>


</section>

{% endblock %}
