{% extends 'core/base.html' %}

{% load static %}

{% block title %} {{ title_client_account_view|default:"ОПОРА" }} {% endblock %}

{% block content %}


<!-- ?????? -->

<section class="bg-transparent">


    <div>

        <!-- ?????? -->
        <div class="flex-1 flex items-center justify-center">
            <img src="{% static 'images/client_profile/opora.png' %}"
                 alt="No info"
                 class="w-1/5 h-auto">
        </div>

    </div>


</section>

{% endblock %}
