{% extends 'core/base.html' %}

{% load static %}

{% block title %} {{ title_client_account_view|default:"ОПОРА" }} {% endblock %}

{% block content %}


<!-- ?????? -->

<section class="bg-gray-800">


    <div>

        <!-- ?????? -->
        <div class="flex-1 flex items-center justify-center bg-gray-600">
            <img src="{% static 'images/side_navigation/opora-base.png' %}"
                 alt="No info"
                 class="w-1/5 h-auto bg-gray-400">
        </div>

    </div>


</section>

{% endblock %}
