{% load static %}


<button type="button"
        id="user-menu-button"
        data-dropdown-toggle="dropdown"
        aria-expanded="false"
        class="flex items-center gap-2 px-3 py-2 mr-1 rounded-lg
               text-gray-500 font-medium
               hover:text-gray-900 hover:bg-gray-100
               focus:ring-4 focus:ring-indigo-700
               dark:text-gray-300 dark:hover:text-white dark:hover:bg-gray-700">

    <span class="sr-only">Open user menu</span>

    <!-- Имя пользователя -->
    <span class="text-sm md:text-lg">
        {{ request.user.first_name|default:"Профиль" }}
    </span>

    <!-- Стрелка вниз -->
    <svg class="w-5 h-5"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"/>
    </svg>
</button>


<!-- Dropdown menu -->
<div class="hidden z-50 my-4 w-auto border-1 border-indigo-200 text-base list-none bg-indigo-50 rounded divide-y divide-gray-100 shadow-2xl shadow-indigo-500 dark:bg-gray-700 dark:divide-gray-600"
     id="dropdown">

    <div class="block py-2 px-4 text-base font-medium text-center text-indigo-700 bg-indigo-200 dark:bg-gray-700 dark:text-gray-400">
        Профиль
    </div>

    <div class="py-3 px-4">
        <span class="block text-base text-gray-500 truncate dark:text-gray-400"><strong
                class="text-gray-500">email: </strong>{{ user.email }}</span>
        <span class="block text-base text-gray-500 truncate dark:text-gray-400"><strong
                class="text-gray-500">Мое время: </strong>{{ user.timezone }}</span>
    </div>

    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
        <li>
            <a href="#"
               class="flex items-center gap-2 py-2 px-4 text-base hover:bg-blue-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#9ca3af" viewBox="0 0 256 256">
                    <path d="M172,120a44,44,0,1,1-44-44A44.05,44.05,0,0,1,172,120Zm60,8A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88.09,88.09,0,0,0-91.47-87.93C77.43,41.89,39.87,81.12,40,128.25a87.65,87.65,0,0,0,22.24,58.16A79.71,79.71,0,0,1,84,165.1a4,4,0,0,1,4.83.32,59.83,59.83,0,0,0,78.28,0,4,4,0,0,1,4.83-.32,79.71,79.71,0,0,1,21.79,21.31A87.62,87.62,0,0,0,216,128Z"></path>
                </svg>
                Мой профиль
            </a>
        </li>
        <li>
            <a href="#"
               class="flex items-center gap-2 py-2 px-4 text-base hover:bg-blue-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#9ca3af" viewBox="0 0 256 256">
                    <path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm-19.42,94.71a8,8,0,1,1-13,9.41L184,141.61l-7.63,10.51a8,8,0,1,1-13-9.41l7.64-10.5-12.36-4a8,8,0,1,1,5-15.21L176,117V104a8,8,0,0,1,16,0v13l12.35-4a8,8,0,0,1,5,15.21l-12.36,4Zm-72,0a8,8,0,1,1-13,9.41L112,141.61l-7.63,10.51a8,8,0,1,1-13-9.41l7.64-10.5-12.36-4a8,8,0,1,1,5-15.21L104,117V104a8,8,0,0,1,16,0v13l12.35-4a8,8,0,1,1,5,15.21l-12.36,4ZM64,88v80a8,8,0,0,1-16,0V88a8,8,0,0,1,16,0Z"></path>
                </svg>
                Изменить пароль
            </a>
        </li>
    </ul>

    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
        <li>
            <a href="#"
               class="flex items-center gap-2 py-2 px-4 text-base hover:bg-blue-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#9ca3af" viewBox="0 0 256 256">
                    <path d="M64.12,147.8a4,4,0,0,1-4,4.2H16a8,8,0,0,1-7.8-6.17,8.35,8.35,0,0,1,1.62-6.93A67.79,67.79,0,0,1,37,117.51a40,40,0,1,1,66.46-35.8,3.94,3.94,0,0,1-2.27,4.18A64.08,64.08,0,0,0,64,144C64,145.28,64,146.54,64.12,147.8Zm182-8.91A67.76,67.76,0,0,0,219,117.51a40,40,0,1,0-66.46-35.8,3.94,3.94,0,0,0,2.27,4.18A64.08,64.08,0,0,1,192,144c0,1.28,0,2.54-.12,3.8a4,4,0,0,0,4,4.2H240a8,8,0,0,0,7.8-6.17A8.33,8.33,0,0,0,246.17,138.89Zm-89,43.18a48,48,0,1,0-58.37,0A72.13,72.13,0,0,0,65.07,212,8,8,0,0,0,72,224H184a8,8,0,0,0,6.93-12A72.15,72.15,0,0,0,157.19,182.07Z"></path>
                </svg>
                Каталог психологов
            </a>
        </li>
        <li>
            <a href="#"
               class="flex items-center gap-2 py-2 px-4 text-base hover:bg-blue-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#9ca3af" viewBox="0 0 256 256">
                    <path d="M232,128v80a40,40,0,0,1-40,40H136a8,8,0,0,1,0-16h56a24,24,0,0,0,24-24H192a24,24,0,0,1-24-24V144a24,24,0,0,1,24-24h23.65A88,88,0,0,0,66,65.54,87.29,87.29,0,0,0,40.36,120H64a24,24,0,0,1,24,24v40a24,24,0,0,1-24,24H48a24,24,0,0,1-24-24V128A104.11,104.11,0,0,1,201.89,54.66,103.41,103.41,0,0,1,232,128Z"></path>
                </svg>
                Служба поддержки
            </a>
        </li>
    </ul>

    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
        <li>
            <form method="post" action="{% url 'users:web:logout' %}">
                {% csrf_token %}
                <button type="submit"
                        class="w-full flex items-center block py-2 px-4 text-base hover:bg-indigo-300 dark:hover:bg-gray-600 dark:hover:text-white">
                    Выйти
                </button>
            </form>
        </li>
    </ul>
</div>