{% load static %}


<button type="button"
        class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100
               dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700
               focus:ring-4 focus:ring-indigo-700 dark:focus:ring-gray-600"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">

    <span class="sr-only">Open user menu</span>

    <img class="w-7 h-7 rounded-full object-cover object-center"
         src="{{ request.user.avatar_url }}"
         alt="user photo">
</button>

<!-- Dropdown menu -->
<div class="hidden z-50 my-4 w-56 text-base list-none bg-indigo-50 rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
     id="dropdown">

    <div class="block py-2 px-4 text-base font-medium text-center text-indigo-700 bg-indigo-200 dark:bg-gray-700 dark:text-gray-400">
        Профиль
    </div>

    <div class="py-3 px-4">
        <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{ user.first_name }} {{ request.user.last_name }}</span>
        <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
        <span class="block text-sm text-gray-500 truncate dark:text-gray-400"><strong class="text-gray-500">Мое время: </strong>{{ user.timezone }}</span>
    </div>

    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
        <li>
            <a href="#"
               class="block py-2 px-4 text-sm hover:bg-blue-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">
                Мой профиль
            </a>
        </li>
        <li>
            <a href="#"
               class="block py-2 px-4 text-sm hover:bg-blue-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">
                Изменить пароль
            </a>
        </li>
    </ul>

    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
        <li>
            <a href="#"
               class="flex items-center py-2 px-4 text-sm hover:bg-blue-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <svg class="mr-2 w-4 h-4 text-gray-400" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                    <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z"/>
                </svg>
                Каталог психологов
            </a>
        </li>
        <li>
            <a href="#"
               class="flex items-center py-2 px-4 text-sm hover:bg-blue-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <svg class="mr-2 w-4 h-4 text-gray-400" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m1.56 6.245 8 3.924a1 1 0 0 0 .88 0l8-3.924a1 1 0 0 0 0-1.8l-8-3.925a1 1 0 0 0-.88 0l-8 3.925a1 1 0 0 0 0 1.8Z"/>
                    <path d="M18 8.376a1 1 0 0 0-1 1v.163l-7 3.434-7-3.434v-.163a1 1 0 0 0-2 0v.786a1 1 0 0 0 .56.9l8 3.925a1 1 0 0 0 .88 0l8-3.925a1 1 0 0 0 .56-.9v-.786a1 1 0 0 0-1-1Z"/>
                    <path d="M17.993 13.191a1 1 0 0 0-1 1v.163l-7 3.435-7-3.435v-.163a1 1 0 1 0-2 0v.787a1 1 0 0 0 .56.9l8 3.925a1 1 0 0 0 .88 0l8-3.925a1 1 0 0 0 .56-.9v-.787a1 1 0 0 0-1-1Z"/>
                </svg>
                Служба поддержки
            </a>
        </li>
    </ul>

    <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
        <li>
            <form method="post" action="{% url 'users:web:logout' %}">
                {% csrf_token %}
                <button type="submit"
                        class="w-full flex items-center block py-2 px-4 text-sm hover:bg-indigo-300 dark:hover:bg-gray-600 dark:hover:text-white">
                    Выйти
                </button>
            </form>
        </li>
    </ul>
</div>