{% load static %}


<!-- ======= НЕТ МЕНЮ НА СТРАНИЦЕ "ВОЙТИ" И "РЕГИСТРАЦИЯ" ======= -->
{% if menu_variant == "without-any-menu" %}
<header></header>


<!-- ======= АВТОРИЗОВАННЫЙ КЛИЕНТ ======= -->

{% elif user.is_authenticated and user.role_id == 2 %}

    <!-- 1. Вариант для определенных страниц, которые есть и в МЕНЮ и в САЙДБАРЕ и мы показываем: -->
    <!--    а) или только верхнее МЕНЮ без сайдбара, если перешли на эту страницу из МЕНЮ -->
    <!--    б) или только САЙДБАР без меню, если перешли на эту страницу из САЙДБАРА -->
    {% if menu_variant == "client-top" %}
    <header class="bg-white shadow p-4">
        <div class="mx-auto max-w-7xl px-4 py-1">
            <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
                <div class="flex flex-wrap justify-between items-center">

                    <div class="flex justify-start items-center">
                        <a href="{% url 'core:start-page' %}" class="flex mr-4">
                            <img src="{% static 'images/logo/opora-logo.svg' %}" class="w-12 h-auto mr-0" alt="Logo"/>
                            <span class="text-4xl font-extrabold tracking-tight text-indigo-700 sm:text-5xl">ОПОРА</span>
                        </a>
                    </div>

                    <div class="flex items-center lg:order-2 gap-1">
                        <!-- Подключаем кнопку МОЙ ПРОФИЛЬ в меню -->
                        {% include 'core/menu/menu_cl_profile.html' %}
                    </div>

                </div>
            </nav>
        </div>
    </header>

    {% else %}

        <!-- 2. Вариант только с САЙДБАРОМ для страниц из личного кабинета -->
        {% if show_sidebar == 'sidebar' %}

        <header class="bg-white p-4">
            <div class="mx-auto max-w-7xl px-4 py-1">
                <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
                    <div class="flex flex-wrap justify-between items-center">

                        <!-- Показываем САЙДБАР -->
                        <div class="flex justify-start items-center">
                            {% include 'core/side_navigation/navigation_client.html' %}
                        </div>

                        <!-- А вместо верхнего меню добавляем кнопку НАЗАД на стартовую страницу -->
                        <div class="flex items-center">
                            <a href="{% url 'core:start-page' %}"
                               class="flex items-center gap-2 px-3 py-2 mr-1 rounded-lg
                               text-slate-700 hover:text-indigo-700 hover:bg-gray-100
                               text-lg font-medium tracking-wide md:text-xl
                               active:scale-95 transition-all duration-150">
                                <span
                                        class="w-7 h-7 bg-current inline-block"
                                        aria-hidden="true"
                                        style="
                                        -webkit-mask: url('{% static " images/menu/back-icon.svg" %}') no-repeat center / contain;
                                        mask: url('{% static "images/menu/back-icon.svg" %}') no-repeat center / contain;
                                        ">
                                </span>
                                <span>
                                    Назад
                                </span>
                            </a>
                        </div>

                    </div>
                </nav>
            </div>
        </header>

        <!-- 3. Вариант только с верхним МЕНЮ и ЛОГО для страниц не из личного кабинета (общие страницы) -->
        {% else %}
        <header class="bg-white shadow p-4">
            <div class="mx-auto max-w-7xl px-4 py-1">
                <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
                    <div class="flex flex-wrap justify-between items-center">

                        <div class="flex justify-start items-center">
                            <a href="{% url 'core:start-page' %}" class="flex mr-4">
                                <img src="{% static 'images/logo/opora-logo.svg' %}" class="w-12 h-auto mr-0" alt="Logo"/>
                                <span class="text-4xl font-extrabold tracking-tight text-indigo-700 sm:text-5xl">ОПОРА</span>
                            </a>
                        </div>

                        <div class="flex items-center lg:order-2 gap-1">
                            <!-- Подключаем кнопку МОЙ ПРОФИЛЬ в меню -->
                            {% include 'core/menu/menu_cl_profile.html' %}
                        </div>

                    </div>
                </nav>
            </div>
        </header>

        {% endif %}

{% endif %}


<!-- ======= АВТОРИЗОВАННЫЙ ПСИХОЛОГ / АДМИН ======= -->
{% elif user.is_authenticated %}
<header class="bg-white shadow p-4">

    <div class="mx-auto max-w-7xl px-4 py-1">
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
            <div class="flex flex-wrap justify-between items-center">

                <div class="flex justify-start items-center">
                    <a href="{% url 'core:start-page' %}" class="flex mr-4">
                        <img src="{% static 'images/logo/opora-logo.svg' %}" class="w-12 h-auto mr-0" alt="Logo"/>
                        <span class="text-4xl font-extrabold tracking-tight text-indigo-700 sm:text-5xl">ОПОРА</span>
                    </a>
                </div>

                <div class="flex items-center lg:order-2 gap-1">

                    <!-- Подключаем кнопку МОЙ ПРОФИЛЬ в меню -->
                    {% include 'core/menu/menu_ps_profile.html' %}

                </div>

            </div>
        </nav>
    </div>

</header>


<!-- ======= МЕНЮ НА СТРАНИЦЕ "СТАРТОВАЯ" ДЛЯ НЕАВТОРИЗОВАННОГО ПОЛЬЗОВАТЕЛЯ ======= -->
{% else %}
<header class="bg-white shadow p-4">

    <div class="mx-auto max-w-7xl px-4 py-1 flex justify-between items-center">
        <a href="{% url 'core:start-page' %}" class="flex mr-4">
            <img src="{% static 'images/logo/opora-logo.svg' %}" class="w-12 h-auto mr-0" alt="Logo"/>
            <span class="text-4xl font-extrabold tracking-tight text-indigo-700 sm:text-5xl">ОПОРА</span>
        </a>
        <nav class="flex items-center gap-6 text-gray-600">
            <a href="{% url 'users:web:login-page' %}"
               class="inline-flex items-center justify-center w-full px-4 lg:px-5 py-2 lg:py-2.5 mr-2
               border border-transparent text-base font-medium rounded-xl text-zinc-700 bg-white hover:bg-zinc-50
               focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-zinc-50
               transition-all duration-200 hover:shadow-lg">
                Войти
            </a>
            <a href="{% url 'users:web:register-page' %}"
               class="inline-flex items-center justify-center w-full px-4 lg:px-5 py-2 lg:py-2.5 mr-2
               border border-transparent text-base font-medium rounded-xl text-white bg-indigo-600 hover:bg-indigo-700
               focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
               transition-all duration-200 shadow-md hover:shadow-lg">
                Регистрация
            </a>
        </nav>
    </div>

</header>


{% endif %}
